@import '../../styles/variables';

.rating-container {
  position: relative;
  width: 100%;
}

.star-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
}

.star,
.star-filled {
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
}

.star {
  fill: $gray;
}

.star-filled {
  fill: $star-yellow;
}
