{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "css-modules-transform",
      {
        "preprocessCss": "./config/cssPreprocessor.js",
        "extensions": [".css", ".scss"],
        // has to be the same as in the CSS loader in the webpack config
        "generateScopedName": "[name]__[local]___[hash:base64:5]"
      }
    ]
  ]
}
