@import '../../styles/variables';

.container {
  display: grid;
  grid-gap: 16px;
  max-width: map-get($map: $grid-breakpoints, $key: 'xl');
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;

  &.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
  }
}
