@import '../../styles/variables';
@import '../../spritesmith-generated/sprite';

.outer-container {
  position: relative;
  overflow: hidden;
  min-height: 88px;

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80px;
    background: linear-gradient(to right, transparent 0%, $white 100%);
    pointer-events: none;
  }
}

.inner-container {
  display: flex;
  transition: transform 0.3s ease-in;
}

.book {
  display: flex;
  align-items: flex-start;
  width: 200px; // must be the same as in SimilarBooks.tsx
  box-shadow: $casting-shadow;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.book-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 4px 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.book-info-title {
  overflow: hidden;
  overflow-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-info-rating {
  top: 4px;
  left: -12px;
  margin-bottom: auto;
  transform: scale(0.8);
}

.button-right {
  @include sprite($chevron-right-48);
}
