@import '../../styles//variables';

.book-list {
  list-style: none;
  padding: 0;
  margin-top: 32px;

  &,
  &.is-loading {
    grid-template-columns: 1fr;
  }

  @include media(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media(xl) {
    grid-template-columns: repeat(3, 1fr);
  }
}
