@import '../../styles/variables';

.input-wrapper {
  position: relative;
  border-radius: 4px;
  background-color: rgba($white, 0.15);

  & > input {
    display: block;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 8px 8px 8px 56px;
    color: inherit;
    background: none;
    -webkit-tap-highlight-color: transparent;

    &::placeholder {
      color: inherit;
    }
  }
}
